:root {
  --md-primary-fg-color: #0A2438;       /* Dark Blue */
  --md-primary-fg-color--light: #29525C; /* Turquoise */
  --md-primary-fg-color--dark: #2E666B;  /* Light Turquoise */
  --md-accent-fg-color: #F69B2F;         /* Light Orange */
}